.app {
  display: flex;
}

.app__container {
  margin-left: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.app__content {
  max-width: 990px;
  margin: 50px 50px 0 50px;
}
.app__header {
  color: #78dce8;
  text-align: center;
  margin-bottom: 3rem;
}
.app__header h1 {
  font-size: 3rem;
}

.app__header h3 {
  margin-top: 1rem;
  color: grey;
}

.top-button {
  display: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 3em;
}

.top-button:hover {
  /* transform: rotate(-20deg); */
  transform: scale(1.1);
}

.top-button:active {
  transform: rotate(-20deg);
}

.footer {
  padding: 40px 0;
  text-align: center;
  color: grey;
  font-size: 1rem;
}

.footer a {
  color: #fc9867;
}

@media (max-width: 660px) {
  .app__header {
    display: none !important;
  }

  .app__container {
    margin: 25px;
  }

  .app__content {
    margin: 0;
  }

  .top-button {
    display: none !important;
  }
}
